h1{
    color: rgb(45, 221, 45);
    position: absolute;
    top: 16%;
    left: 35%;;
}
h3{
    color: rgb(45, 221, 45);
}
span{

    color: rgb(245, 172, 38);
}

div{
    border-style: groove;
}

body{
    width: 100vw;
    height: 100vh;
}

nav{
    position: absolute;
    top: 30%;
    width: 15%;
    height: 60%;
    left: 0;
    
}

#body{
    position: absolute;
    left: 15%;
    top: 30%;
    width: 80%;
    height: 60%;
    padding: 0.5rem;
    background: rgb(193,193,193);
    background: linear-gradient(90deg, rgba(193,193,193,0) 13%, rgba(255,255,255,1) 49%, rgba(193,193,193,1) 82%);
}

img{
    position: absolute;
    left: 0;
    width: 100%;
    height: 20%;
}

ul {
    list-style-type: none;
    
  }

  
li{
    border: 1px solid black;
    color: black;
    text-align: center;
    margin: 1rem;
    background: rgb(162,232,85);
}

 li:nth-child(1){

    background-color: chocolate;
 }
  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
  }
